{{- if .Values.opa.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: opa
  labels:
    app: opa
spec:
  selector:
    app: opa
  ports:
    - name: http
      port: 8181
      targetPort: http
  type: ClusterIP
{{- end }}

