{{- /* vim: set ft=helm: */ -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pep-deployment
  labels:
    component: pep
spec:
  selector:
    matchLabels:
      app: pep-proxy
  replicas: 1
  template:
    metadata:
      labels:
        app: pep-proxy
        app.kubernetes.io/name: pep-proxy
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/part-of: zeta-guard
        app.kubernetes.io/component: pep
        component: pep
      {{- if or .Values.devMode .Values.pepproxy.nginxConf.generateConfigMap }}
      annotations:
        {{- if .Values.pepproxy.nginxConf.generateConfigMap }}
        {{- $nginxConf := include "zeta-guard.pep-nginx-conf" . }}
        checksum/nginx-conf: {{ $nginxConf | sha256sum }}
        {{- end }}
        {{- if .Values.devMode }}
        zeta.dev/rollout-timestamp: "{{ now | unixEpoch }}"
        {{- end }}
      {{- end }}
    spec:
      imagePullSecrets:
        - name: "{{ .Values.pepproxy.image.image_pull_secret | default .Values.global.image_pull_secret }}"
      containers:
        - name: nginx
          image: "{{ default (printf "%s%s" .Values.global.registry_host .Values.registry_name) .Values.pepproxy.image.registry }}{{ .Values.pepproxy.image.repository }}:{{ .Values.pepproxy.image.tag }}"
          imagePullPolicy: "{{ .Values.pepproxy.image.pullPolicy }}"
          ports:
            - name: http-main
              containerPort: 8081
            - name: status
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /status
              port: status
          readinessProbe:
            httpGet:
              path: /status
              port: status
          startupProbe:
            httpGet:
              path: /status
              port: status
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: nginx-cache
              mountPath: /var/cache/nginx
            - name: nginx-run
              mountPath: /var/run
            - name: tmp
              mountPath: /tmp
            {{- /* use subPath to only project intended files, not ..data etc. */ -}}
            {{- $files := .Files.Glob "files/well-known/*" }}
            {{- range $path, $_ := $files }}
            - name: well-known
              mountPath: /srv/.well-known/{{ base $path }}
              subPath: {{ base $path }}
            {{- end }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]

      {{- if .Values.pepproxyMetricsEnabled }}
        - name: metrics
          image: nginx/nginx-prometheus-exporter:1.5.1
          command:
            - nginx-prometheus-exporter
          args:
            - --nginx.scrape-uri=http://$(MY_POD_IP):8080/status
          env:
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          ports:
            - name: metrics
              containerPort: 9113
          livenessProbe:
            tcpSocket:
              port: metrics
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
          startupProbe:
            httpGet:
              path: /metrics
              port: metrics
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      {{- end }}
      volumes:
        - name: nginx-conf
          configMap:
            name: "{{ .Values.pepproxy.nginxConf.configMapName }}"
            defaultMode: 0444
            items:
              - key: nginx.conf
                path: nginx.conf
        - name: nginx-cache
          emptyDir: {}
        - name: nginx-run
          emptyDir: {}
        - name: tmp
          emptyDir: {}
        - name: well-known
          configMap:
            name: pep-well-known
            defaultMode: 0444
      securityContext:
        seccompProfile:
          type: RuntimeDefault

---
{{- if .Values.pepproxy.nginxConf.generateConfigMap }}
{{- $nginxConf := include "zeta-guard.pep-nginx-conf" . }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Values.pepproxy.nginxConf.configMapName }}"
  labels:
    app: "pep-proxy"
    app.kubernetes.io/name: pep-proxy
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/part-of: zeta-guard
    app.kubernetes.io/component: pep
data:
  nginx.conf: |-
    {{- $nginxConf | nindent 4 }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: pep-proxy-svc
spec:
  selector:
    app: pep-proxy
  ports:
    - name: http
      port: 80
      targetPort: http-main
    {{- if .Values.pepproxyMetricsEnabled }}
    - name: metrics
      port: 9113
      targetPort: metrics
    {{- end }}
  type: ClusterIP
