.idea
/.vs

rendered.yaml
*-kubeconfig
**.tgz

.jenkins
.githubignore
charts/test-driver
charts/testfachdienst
charts/docs
docs/explanations
docs/how-to_guides
docs/reference
templates
.gitlab-ci.yml
Chart.lock
Chart.yaml
dirty-README.md
Makefile
sonar-project.properties
values*
