apiVersion: v1
kind: Secret
metadata:
  name: authserver-admin
  labels:
    app.kubernetes.io/name: authserver
    app.kubernetes.io/component: authserver
    {{- include "zeta-guard.baseLabels" . | nindent 4 }}
type: Opaque
stringData:
  username: "{{ .Values.authserver.admin.username }}"
  {{- if .Release.IsInstall }}
  password: {{ required "authserver.admin.password is required on first install" .Values.authserver.admin.password | quote }}
  {{- else}}
  password: ""
  {{- end}}
---
apiVersion: v1
kind: Secret
metadata:
  name: pdp-smcb-truststore
  labels:
    app.kubernetes.io/name: authserver
    app.kubernetes.io/component: authserver
    {{- include "zeta-guard.baseLabels" . | nindent 4 }}
type: Opaque
data:
  keystore: "{{ $.Files.Get "files/ru-truststore.p12" | b64enc }}"
  password: "{{ "changeit" | b64enc }}"
