apiVersion: v1
kind: Service
metadata:
  name: authserver
  labels:
    app.kubernetes.io/name: authserver
    app.kubernetes.io/component: pdp
    app.kubernetes.io/version: {{ .Values.authserver.image.tag | quote }}
    {{- include "zeta-guard.baseLabels" . | nindent 4 }}
spec:
  selector:
    app: authserver
  ports:
    - name: http
      port: 80
      targetPort: http-port
    - name: mgmt-interface
      port: 9000
      targetPort: http-mgmt-port
    {{- if .Values.devMode }}
    - name: jdwp
      port: 5005
      targetPort: 5005
    {{- end }}
  type: ClusterIP
