authserver:
  hostname: ""
  http_enabled: true

pepproxy:
  image:
    pullPolicy: Always
  nginxConf:
    generateConfigMap: true
    fileContent: |
      worker_processes  auto;
      
      load_module modules/libngx_pep.so;
      
      error_log  /dev/stdout debug;
      pid        /run/nginx.pid;
      
      
      events {
        worker_connections 16384;
        multi_accept       on;
        use                epoll;
      }

      http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;
        
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
        '$status $body_bytes_sent "$http_referer" '
        '"$http_user_agent" "$http_x_forwarded_for"';
        
        access_log  /dev/stdout  main;
        
        sendfile    on;
        aio         threads;
        aio_write   on;
        tcp_nopush  on;
        
        keepalive_timeout  65;
        
        gzip  on;
        
        pep_issuer http://authserver/auth/realms/zeta-guard;
        pep_http_client_accept_invalid_certs on;
        
        server {
          listen 80;
          server_name  pep-proxy-svc;
          location / {
            root /usr/share/nginx/html;
            
            pep                  on;
          }
        }
      }



# DB mode switch:
# - bitnami: local using Bitnami subchart service/secret
# - operator: staging/dev/prod using Zalando Postgres Operator
databaseMode: bitnami
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  enabled: true
  auth:
    username: keycloak
    password: devpassword
    database: keycloak
  primary:
    persistence:
      enabled: false

# Which cert-manager ClusterIssuer to use for TLS on the Ingress (default)
clusterIssuer: "letsencrypt-staging"

opa:
  enabled: true
