global:
  image_pull_secret: nil
  registry: europe-west3-docker.pkg.dev/gematik-pt-zeta-prod/zeta-dcr/

authserver:
  image:
    repository: keycloak-zeta
    tag: 0.1.3
    pullPolicy: Always
  admin:
    username: admin
    # HINT: THIS IS TEMPORARY! CHANGE AT RUNTIME!
    # TODO: use robust Secret-based strategy
    password:
  resources: {}

pepproxy:
  image:
    repository: ngx_pep
    tag: 0.1.3
    pullPolicy: Always
  nginxConf: {}


# DB mode switch:
# - bitnami: local using Bitnami subchart service/secret
# - operator: staging/dev/prod using Zalando Postgres Operator
databaseMode: bitnami
postgresql:
  enabled: false

# Which cert-manager ClusterIssuer to use for TLS on the Ingress (default)
clusterIssuer: "letsencrypt-staging"

opa:
  enabled: true
  replicaCount: 1
  image:
    # use default registry here
    registry: "openpolicyagent"
    repository: /opa
    tag: 1.8.0-static
    pullPolicy: IfNotPresent
  resources: {}
