# Values for the umbrella chart (local environment with KIND)

global:
  registry: europe-west3-docker.pkg.dev/gematik-pt-zeta-prod/zeta-dcr/
  registry_host: "europe-west3-docker.pkg.dev/gematik-pt-zeta-prod/zeta-dcr/"

tags:
  exauthsim: true
  testfachdienst: true
  tiger-proxy: true
  tiger-testsuite: true
  zeta-guard: true

exauthsim:
  devMode: true
  image:
    tag: 0.2.1

ingress-nginx:
  controller:
    hostPort:
      enabled: true
      ports:
        http: 80
        https: 443
    ingressClass: nginx
    ingressClassResource:
      enabled: true
      name: nginx
      controllerValue: k8s.io/ingress-nginx
    service:
      type: NodePort
      annotations: {}
      nodePorts:
        http: 32080
        https: 32443
  enabled: true

issuers:
  local:
    enabled: true
    issuerName: local-selfsigned
    certificateName: zeta-guard-local-tls
    secretName: zeta-guard-tls
    commonName: zeta-kind.local
    dnsNames:
      - zeta-kind.local
      - localhost
    duration: 8760h

popp-mocks:
  enabled: true
  registry_name: zeta/devops/ci-images
  tokenGenerator:
    enabled: false

testdriver:
  aslProdEnv: false
  connector_base_url: "http://exauthsim:80/ws"
  connector_card_handle: ""
  connector_client_system_id: ""
  connector_mandant_id: ""
  connector_user_id: ""
  connector_workspace_id: ""
  devMode: true
  disableServerValidation: true
  fachdienst_url: "https://zeta-kind.local/pep/"
  hostname: zeta-kind.local
  image:
    tag: v0.2.10
  ingressClassName: nginx
  PoppToken: "eyJhbGciOiJFUzI1NiIsInR5cCI6InZuZC50ZWxlbWF0aWsucG9wcCtqd3QiLCJraWQiOiJhbGlhcyIsIng1YyI6WyJNSUlEQmpDQ0FxeWdBd0lCQWdJSEFtQ25LeHIvUnpBS0JnZ3Foa2pPUFFRREFqQ0JoREVMTUFrR0ExVUVCaE1DUkVVeEh6QWRCZ05WQkFvTUZtZGxiV0YwYVdzZ1IyMWlTQ0JPVDFRdFZrRk1TVVF4TWpBd0JnTlZCQXNNS1V0dmJYQnZibVZ1ZEdWdUxVTkJJR1JsY2lCVVpXeGxiV0YwYVd0cGJtWnlZWE4wY25WcmRIVnlNU0F3SGdZRFZRUUREQmRIUlUwdVMwOU5VQzFEUVRZeElGUkZVMVF0VDA1TVdUQWVGdzB5TlRBM01qZ3lNakF3TURCYUZ3MHpNREEzTWpneU1UVTVOVGxhTUdzeEN6QUpCZ05WQkFZVEFrUkZNU1l3SkFZRFZRUUtEQjFuWlcxaGRHbHJJRlJGVTFRdFQwNU1XU0F0SUU1UFZDMVdRVXhKUkRFME1ESUdBMVVFQXd3cmNHOXdjQzEwYjJ0bGJpNW5aVzFoZEdsckxuUmxiR1Z0WVhScGF5MTBaWE4wSUhOcGJYVnNZWFJ2Y2pCWk1CTUdCeXFHU000OUFnRUdDQ3FHU000OUF3RUhBMElBQkhBdkkzclBpTTRVNUhCekhUSXllc24vWmNaUkh0djlWeHVqbGJUYVJQdHYyc3FPNXZ5dmEyNEVRbjhBZ1M2bU9ObmVSaElJOHFoUkxxL1ZJMDZEeE9HamdnRWZNSUlCR3pBN0JnZ3JCZ0VGQlFjQkFRUXZNQzB3S3dZSUt3WUJCUVVITUFHR0gyaDBkSEE2THk5bGFHTmhMbWRsYldGMGFXc3VaR1V2WldOakxXOWpjM0F3SFFZRFZSME9CQllFRkRobnRHbnFueEVRTnpRdkRTTUpLSFllRUROYU1DRUdBMVVkSUFRYU1CZ3dDZ1lJS29JVUFFd0VnaDh3Q2dZSUtvSVVBRXdFZ1NNd0h3WURWUjBqQkJnd0ZvQVVuelhnTUtsL3l2aG1uNUFLUXMyN2dXV2ZTZjR3RGdZRFZSMFBBUUgvQkFRREFnWkFNRnNHQlNza0NBTURCRkl3VURCT01Fd3dTakJJTURvTU9GUnZhMlZ1TFZOcFoyNWhkSFZ5TFVsa1pXNTBhWFREcEhRZ1pzTzhjaUJRY205dlppQnZaaUJRWVhScFpXNTBJRkJ5WlhObGJtTmxNQW9HQ0NxQ0ZBQk1CSUpBTUF3R0ExVWRFd0VCL3dRQ01BQXdDZ1lJS29aSXpqMEVBd0lEU0FBd1JRSWhBS3VDdi9ZczBMd3lQRTh2eVBZWVF5UFpBTGltendwRjJHallVWUlwZ3QyNUFpQUhucVpubEV0dEhzL0Y0SEExckYyZWNmMjd0L2NMMlM4b0VvSFZaMmpra2c9PSJdfQ.eyJpYXQiOjE3NTM4NzcwNDAsInZlcnNpb24iOiIxLjAuMCIsImlzcyI6Imh0dHBzOi8vcG9wcC5leGFtcGxlLmNvbSIsInByb29mTWV0aG9kIjoiZWhjLXByYWN0aXRpb25lci11c2VyLXg1MDkiLCJwYXRpZW50UHJvb2ZUaW1lIjoxNzUzODc3MDMwLCJwYXRpZW50SWQiOiJYMTEwNjM5NDkxIiwiaW5zdXJlcklkIjoiMTA5NTAwOTY5IiwiYWN0b3JJZCI6IjEtMjAwMTQwNjA2MjUiLCJhY3RvclByb2Zlc3Npb25PaWQiOiIxLjIuMjc2LjAuNzYuNC4zMiJ9.izyGU8HxdiX98aTMCbVQfk9zetPT52cNnVEiTEtvHXN3KislKh3mds5WtE7F2pDxM6_X_M3seHQ6QZWk_NefVA"
  routeViaTigerProxy: true

testfachdienst:
  devMode: true
  env:
    - name: SERVER_SSL_ENABLED
      value: "true"
  image:
    tag: 0.2.1

testMonitoringService:
  ingressRulesHost: "zeta-kind.local"
  opentelemetry-demo:
    opentelemetry-collector:
      fullnameOverride: test-monitoring-collector-local
    prometheus:
      server:
        clusterRoleNameOverride: prometheus-local

tiger-proxy:
  devMode: true
  image:
    tag: 0.2.5
  proxyConfig:
    proxyRoutes:
      - from: /testfachdienst
        to: https://testfachdienst:443
      - from: /auth
        to: http://authserver/auth
      - from: /proxy
        to: http://testdriver/proxy
      - from: /opa
        to: http://opa:8181
      - from: /popp
        to: http://popp-statics
      - from: /
        to: http://pep-proxy-svc
    tls:
      domainName: tiger-proxy
  service:
    type: NodePort
    nodePorts:
      admin: 32099
  startup:
    startupPeriodSeconds: 30

tiger-testsuite:
  devMode: true
  env:
    zetaBaseUrl: zeta-kind.local
    zetaProxyUrl: zeta-kind.local:9999
    zetaProxy: proxy
    tigerEnvironment: cloud
    cucumberTags: ""
    mvnGoals: verify
    mvnAdditionalArgs: ""
    serenityExportDir: ""
  image:
    tag: 0.2.5
  proxyAdminService:
    enabled: true
    type: NodePort
    nodePort: 32011
  service:
    enabled: true
    type: NodePort
    port: 9010
    nodePort: 32010
  workflowUi:
    activateWorkflowUi: true
    trafficVisualization: true
    startBrowser: false
    workflowUiPort: 9010
    workflowUiStartTimeoutInSeconds: 300
    enableTestSelection: true
    runTestsOnStart: false
    tigerProxyConfiguration:
      adminPort: 9011

zeta-guard:
  databaseMode: bitnami
  authserver:
    admin:
      username: admin
      password: local-dev-password
    config:
      maxClients: "2000000"
    hostname: zeta-kind.local
    http_enabled: true
    image:
      tag: 0.2.4
      pullPolicy: IfNotPresent
    log:
      level: "INFO,de.gematik.zeta.zetaguard:debug"
    provider:
      smcB:
        opa:
          enabled: true
        # opaBaseUrl value has to be aligned with tags.tiger-proxy state
        # see docs/How_to_configure_tiger-proxy.md for reference
        # opaBaseUrl: "http://tiger-proxy/opa"
        opaBaseUrl: "http://opa:8181"
  devMode: true
  ingressClassName: nginx
  log-collector:
    config:
      receivers:
        filelog:
          include:
            - /var/log/pods/zeta-local_*/*/*.log
      exporters:
        otlp/telemetry-gateway:
          endpoint: telemetry-gateway-local:4317
  opa:
    serviceAccountName: opa
    bundle:
      enabled: false
      serviceName: gar
      url: https://europe-west3-docker.pkg.dev
      resource: "<PROJECT_ID>/opa-bundles/zeta-authz:latest"
    workloadIdentityFederation:
      enabled: false
      sts:
        audience: "//iam.googleapis.com/projects/<PROJECT_NUM>/locations/global/workloadIdentityPools/aks-pool/providers/aks-provider"
        tokenUrl: https://sts.googleapis.com/v1/token
      gar:
        host: europe-west3-docker.pkg.dev
  pepproxy:
    asl_enabled: false
    image:
      tag: 0.2.5
    nginxConf:
      generateConfigMap: true
      pepIssuer: https://zeta-kind.local/auth/realms/zeta-guard
      requiredAudience: https://zeta-kind.local
    wellKnownBase: https://zeta-kind.local
  postgresql:
    image:
      repository: bitnamilegacy/postgresql
    enabled: true
    auth:
      username: keycloak
      password: devpassword
      database: keycloak
    primary:
      persistence:
        enabled: false
  routeViaTigerProxy: true
  telemetry-gateway:
    fullnameOverride: telemetry-gateway-local
    # Enforce restricted PodSecurity settings for the telemetry gateway
    podSecurityContext:
      seccompProfile:
        type: RuntimeDefault
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop: ["ALL"]
    config:
      exporters:
        otlp/test-monitoring-service:
          endpoint: test-monitoring-collector-local:4317
